<header class="visible">
  <nav class="navbar">
    <div class="container header">
       <ul class="nav">
        <% if shop_signed_in? %>
          <div class="navigation">
            <%= link_to root_path do %>
              <%= image_tag 'logo.jpg',style: "width: 80%;" %>
            <% end %>
            <li class="button"><a href="/">HOME</a></li>
             <li class="button">
              <%= link_to "通知", notifications_path, class: "btn-default" %>
              <% if unchecked_notifications.any? %>
                  <i class="fa fa-circle" style="color: gold;"></i>
              <% end %>
             </li>
            <li class="button"><%= link_to ' マイページ', shop_path(current_shop)%></li>
            <li class="button"><%= link_to ' 商品一覧', products_path %></li>
            <li class="button"><%= link_to ' 注文商品', cart_path(current_shop) %></li>
            <li class="button"><%= link_to ' ログアウト', destroy_shop_session_path, method: :delete %></li>
          </div>
        <% elsif admin_signed_in? %>
          <div class="navigation">
            <li class="button"><%= link_to ' 店舗一覧', admin_shops_path %></li>
            <li class="button"><%= link_to ' 商品一覧', admin_products_path %></li>
            <li class="button"><%= link_to ' ジャンル一覧', admin_genres_path %></li>
            <li class="button"><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
          </div>
        <% else %>
          <div class="navigation">
            <%= link_to root_path do %>
              <%= image_tag 'logo.png',style: "width: 80%;" %>
            <% end %>
            <li class="button"><a href="/">HOME</a></li>
            <li class="button"><%= link_to ' 商品一覧', products_path %></li>
            <li class="button"><%= link_to ' 新規登録', new_shop_registration_path %></li>
            <li class="button"><%= link_to ' ログイン', new_shop_session_path  %></li>
          </div>
        <% end %>
       </ul>
     </div>
      <%= search_form_for @q, style: "width: max-content;" do |f|  %>
          <%= f.search_field :product_name_or_product_company_cont,placeholder: "キーワード検索", text: "margin-right: 10px;" %>
         <%= f.submit "検索",class: "sbtn" %>
      <% end %>
   </nav>
</header>

