<header>
  <nav>
   <div class="drawer">
     
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg',style: "width: 80%;" %>
      <% end %>
      
      <!-- ハンバーガーメニュー部分 --> 
      <div class="Toggle">
     　　<span></span>
      　<span></span>
    　　<span></span>
      </div>
    </div>
   <!-------------- drawer ここまで-->
   
   <div class="menu" id="menu">
    <ul>
      <% if shop_signed_in? %>
          <li class="button"><a href="/">HOME</a></li>
           <li class="button">
            <%= link_to "通知", notifications_path, class: "btn-default" %>
            <% if unchecked_notifications.any? %>
                <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
           </li>
          <li class="button"><%= link_to ' マイページ', shop_path(current_shop)%></li>
          <li class="button"><%= link_to ' 商品一覧', products_path %></li>
          <li class="button"><%= link_to ' 注文商品', cart_path(current_shop) %></li>
          <li class="button"><%= link_to ' ログアウト', destroy_shop_session_path, method: :delete %></li>
      <% elsif admin_signed_in? %>
          <li class="button"><%= link_to ' 店舗一覧', admin_shops_path %></li>
          <li class="button"><%= link_to ' 商品一覧', admin_products_path %></li>
          <li class="button"><%= link_to ' ジャンル一覧', admin_genres_path %></li>
           <li class="button"><%= link_to ' イベント一覧', admin_events_path %></li>
          <li class="button"><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
      <% else %>
          <li class="button"><a href="/">HOME</a></li>
          <li class="button"><%= link_to ' 商品一覧', products_path %></li>
          <li class="button"><%= link_to ' 新規登録', new_shop_registration_path %></li>
          <li class="button"><%= link_to ' ログイン', new_shop_session_path  %></li>
      <% end %>
     </ul>
    </div>
  </nav>
</header>

  