<!DOCTYPE html>
<html>
  <head>
    <title>CandyOrder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <div class="col-8 offset-4">
          <% if shop_signed_in? %>
            <%= search_form_for @q do |f|  %>
              <span><%= f.label :product_name_or_product_company,"Keyword" %>
                <%= f.search_field :product_name_or_product_company_cont,placeholder: "キーワード検索" %>
               <%= f.submit "検索",class: "sbtn" %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6 offset-5">
          <h4>©CandyOrder</h4>
        </div>
      </div>
    </div>
  </footer>
</html>
