<div class="container">
   <ul>
     <div class="row ">
       <div class="col-4 offset-3" style="padding-left: 70px;">
         <section class="get-in-touch">
          <h2 class="heading06" data-en="Sign Up"></h2>
       </div>
       <div class="col-3 offset-1">
         <h4 style="font-size: 20px;">既に会員登録済みの方</h4>
           <p>
            <%= link_to  new_session_path(resource_name) do %>
            <%= image_tag "login_icon.jpg",size: "50x50",alt: "ログイン",align: "top"%>
            <span style="color: black;">ログイン</span>
            <% end %>
           </p>
        </div>
     </div>
     <div class="row">
       <div class="col-8 offset-3" style="padding-left: 50px">
         <div class="contact-form row">
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
             <%= render 'layouts/error_messages', model: f.object %>
               <div class="form-field col x-50">
                 <%= f.text_field :name, class: "input-text js-input" %>
                 <label class="label" for="name">Name</label>
               </div>
               <div class="form-field col x-50">
                 <%= f.email_field :email, class: "input-text js-input" %>
                 <label class="label" for="email">Email</label>
               </div>
               <div class="form-field col x-50">
                 <%= f.text_field :postal_code, class: "input-text js-input" %>
                 <label class="label" for="postal_code">Postal_Code</label>
               </div>
                <div class="form-field col x-50">
                 <%= f.text_field :address, class: "input-text js-input" %>
                 <label class="label" for="address">Address</label>
               </div>
               <div class="form-field col x-50">
                 <%= f.text_field :telephone_number, class: "input-text js-input" %>
                 <label class="label" for="telephone_number">Telephone_Number</label>
               </div>
               <div class="form-field col x-50">
                 <%= f.password_field :password, class: "input-text js-input",autocomplete: "new-password" %>
                 <label class="label" for="password">Password</label>
               </div>
               <div class="form-field col x-50">
                 <%= f.password_field :password_confirmation, class: "input-text js-input", autocomplete: "new-password" %>
                 <label class="label" for="password_confirmation">Password_Confirmation</label>
               </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 offset-1">
          <div class="form" style="margin: 20px; padding-left: 120px;" >
            <input type="submit" class="reset flat border2" value="新規登録">
          </div>
            <% end %>
          </section>
        </div>
      </div>
   </ul>
</div>