 <div class="container">
   <ul>
     <div class="row ">
        <div class="col-9 offset-3">
          <h1>新規登録</h1>
        </div>
      </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-7 offset-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "shops/shared/error_messages", resource: resource %>
  
          <div class="field">
            <i class="fas fa-store"></i>
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control",placeholder: ""%>
          </div>
  
          <div class="field">
            <i class="fas fa-envelope"></i>
            <%= f.label :email  %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control"%>
          </div>
  
          <div class="field">
            <%= f.label :postal_code %><br />
            <%= f.text_field :postal_code,class: "form-control"  %>
          </div>
  
          <div class="field">
            <%= f.label :address %><br />
            <%= f.text_field :address,class: "form-control"  %>
          </div>
  
          <div class="field">
            <i class="fas fa-phone-alt"></i>
            <%= f.label :telephone_number %><br />
            <%= f.text_field :telephone_number,class: "form-control"  %>
          </div>
  
          <div class="field">
            <i class="fas fa-lock"></i>
            <%= f.label :password %></span>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password",class: "form-control"%>
          </div>
  
          <div class="field">
            <i class="fas fa-lock"></i>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control"  %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-7 offset-1">
          <div class="form" style="margin: 20px; padding-left: 120px;" >
             <input type="submit" class="reset flat border2" value="新規登録">
          </div>
        <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-7 offset-4" style="padding-left: 70px">
          <h4>既に会員登録済みの方</h4>
          <%= render "shops/shared/links" %>
      </div>
    </div>
  </ul>
</div>