<div class="container">
  <ul>
  <div class="row">
    <div class="col-7 offset-1">
      <h2>商品一覧</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-9 offset-1">
      <ul>
      <table class="table">
          <thead>
            <tr>
              <th><%= sort_link(@q, :product_name, "商品") %></th>
              <th><%= sort_link(@q, :product_price, "価格") %></th>
              <th>個数</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="count">
            <% @products.each do |product| %>
              <tr>
                <th><%= link_to product.product_name,product_path(product.id) %></th>
                <th><%= tax_price(product.product_price) %>円</th>
                <%= form_with model:@cart_product, url: add_product_path, 'data-turbolinks': false,local: true do |f| %>
                  <%= f.hidden_field :product_id, value:product.id %>
                  <th><%= f.number_field :quantity, style: "width: 5em;", min: "0" %>個</th>
                  <th><%= f.button :type => "submit" , class: "btn btn-danger w-60" do %>
                    <i class="fas fa-shopping-cart" style="color: #FFF;">カートに入れる</i>
                  <% end %></th>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-4">
        <%= paginate @products, theme: 'twitter-bootstrap-4'%>
    </div>
  </div>
  </ul>
</div>


