<div class="container">
  <ul>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
      <%= link_to  products_path do %>
       <%= image_tag "back_icon.jpg" , size: "70x70" %>
      <% end %>
    <div class="row">
      <div class="col-3 offset-2">
        <%= attachment_image_tag @product, :image, :fill, 300, 300, format:'jpeg', fallback:'no_image.jpg' %>
      </div>
      <div class="col-6 offset-1">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="font-size: x-large;"><span><%= @product.product_name %></span></td>
            </tr>
            <tr>
              <td style="font-size: xx-large;color: red;"><span><%= tax_price(@product.product_price) %>円</span></td>
            </tr>
            <tr>
              <td>製造元/<%= @product.product_company %></td>
            </tr>
            <tr>
              <%= form_with model:@cart_product, url: add_product_path, local: true do |f| %>
              <td><%= hidden_field_tag "cart_products[][product_id]",@product.id %>
              <%= number_field_tag "cart_products[][quantity]", "",style: "width: 5em; margin: 7px 0;", min: "0" %>個</td>
            </tr>
            <tr>
              <td><%= f.button :type => "submit", class: "btn btn-danger w-75" do %>
                  <i class="fas fa-shopping-cart" style="color: #FFF;"> 商品を追加する</i>
                <% end %>
              </td>
            </tr>
              <% end %>
            <tr>
              <td>
                <div id="likes_buttons_<%= @product.id %>">
                   <%= render partial: 'public/favorites/favorite', locals: { product: @product} %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ul>
</div>