<div class="container">
  <ul>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-2">
        <%= attachment_image_tag @product, :image, :fill, 300, 300, format:'jpeg', fallback:'no_image.jpg' %>
      </div>
      <div class="col-6 offset-1">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td style="font-size: x-large;"><span><%= @product.product_name %></span></td>
            </tr>
            <tr>
              <td style="font-size: xx-large;color: red;"><span><%= tax_price(@product.product_price) %>円</span></td>
            </tr>
            <tr>
              <td>製造元/<%= @product.product_company %></td>
            </tr>
            <tr>
              <%= form_with model:@cart_product, url: add_product_path, local: true do |f| %>
                <td><%= f.hidden_field :product_id, value:@product.id %>
                <%= f.number_field :quantity, style: "width: 5em;", min: "0" %>個</td></tr>
            <tr>
              <td><%= f.button :type => "submit", class: "btn btn-danger w-75" do %>
                  <i class="fas fa-shopping-cart" style="color: #FFF;"> 商品を追加する</i>
                <% end %>
              </td>
            </tr>
              <% end %>
            <tr>
              <td>
                  <% if shop_signed_in? %>
                    <% if current_shop.already_favorited?(@product)%>
                     <%= link_to product_favorites_path(@product),method: :delete do %>
                       <i class="fas fa-heart fa-2x size"></i>
                     <% end %>
                    <% else %>
                      <%= link_to product_favorites_path(@product),method: :post do %>
                        <i class="far fa-heart fa-2x size"></i>
                      <% end %>
                     <% end %>
                  <% end %>
               </td>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ul>
</div>