 <<div class="container">
 <ul>
  <div class="row">
    <div class="col-9 offset-1" style="padding-left: 80px;">
      <%= flash[:error] %>
      <h2 class="heading06" data-en="Admin Log in"></h2>
    </div>
    <div class="col-8 offset-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
         <table class="table table-borderless">
           <tbody>
            <tr>
              <td style="text-align: center;"><%= f.label :email %></td>
              <td> <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %></td>
            </tr>
             <tr>
               <td style="text-align: center;"><%= f.label :password  %></td>
               <td><%= f.password_field :password, autocomplete: "current-password",class: "form-control" %></td>
             </tr>
           </tbody>
         </table>
     </div>
     <div class="col-8 offset-2">
       <div class="form" style="margin-bottom: 30px;">
          <input type="submit" class="reset flat border2" value="ログイン">
       </div>
     </div>
      <% end %>

     </div>
   </div>
  </ul>
</div>