 <div class="container">
   <ul>
    <div class="row">
      <div class="mx-auto">
        <%= flash[:error] %>
        <h1 class="heading08">ログイン</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="m-5">
            <div class="field">
             <%= f.label :メールアドレス, class: "under"  %>
             <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="field">
             <%= f.label :パスワード, class: "under"  %>
             <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>
          <div class="section1 text-center">
           <div class="form">
              <input type="submit" class="reset flat border2" value="ログイン">
           </div>
          </div>
        <% end %>
      </div>
    </div>
  </ul>
</div>