<div class="container">
  <ul>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-7 offset-1">
        <h2>イベント編集</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <%= form_with model:@event,url:admin_event_path, local:true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <table class="table table-borderless">
            <tbody>
             <tr>
               <td><%= f.label :イベント %></td>
               <td><%= f.text_field :title,class: "form-control" %></td>
             </tr>
              <tr>
                <td><%= f.label :内容 %></td>
                <td><%= f.text_field :content,class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :日にち %></td>
                <td><%= f.date_select :start_time %></td>
              </tr>
            </tbody>
          </table>
        <%= f.submit "更新する",class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </ul>
</div>