<div class="container">
  <ul>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-2" style="padding-left: 130px;">
       <h2 class="heading06" data-en="Event"></h2>
      </div>
      <div class="col-sm-2 offset-1" style="padding-top: 22px;">
        <%= link_to new_admin_event_path do %>
          <%= image_tag 'new_create.jpg', size: "50x50" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 offset-3">
        <table class="table table-borderless">
          <tbody>
          <% @events.each do |event| %>
            <tr>
              <th><%= link_to(admin_event_path(event), class: "list-group-item list-group-item-action") do %>
                    <%= event.title %>
                  <% end %></th>
               <th style="padding-top: 18px;"><%= link_to "削除する", admin_event_path(event),method: :delete, class: "btn btn-danger",data: {confirm: "イベントを削除しますか？",cancel: 'やめる', commit: '削除'}, title: '削除の確認' %></th>
             </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-4">
          <%= paginate @events, theme: 'twitter-bootstrap-4'%>
      </div>
    </div>
  </ul>
</div>
