<div class='container'>
  <ul>
    <div class='row'>
      <div class='col-7 offset-2' style="padding-right: 50px;">
       <h2 class="heading06" data-en="New Event"></h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-6 offset-3'>
         <%= render partial: 'layouts/flash' %>
         <%= form_with model: @event,url: admin_events_path, local: true do |f| %>
         <%= render 'layouts/error_messages', model: f.object %>
      </div>
      <div class='col-8 offset-3'>
        <table class="table table-borderless">
          <tr>
            <td><lebel>タイトル</lebel></td>
            <td><%= f.text_field :title, class: "form-control" %></td>
           </tr>
           <tr>
            <td><lebel>日にち</lebel></td>
            <td><%= f.date_select :start_time %></td>
           </tr>
           <tr>
             <td><lebel>内容</lebel></td>
             <td><%= f.text_area :content, class: "form-control" %></td>
           </tr>
        </table>
          <div class='form-group' style="text-align: center; padding-right: 300px">
            <%= f.submit '登録する', class:'btn btn-outline-dark' %>
          </div>
        <% end %>
      </div>
    </ul>
  </div>