<div class="container">
  <ul>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 offset-1">
        <%= link_to  admin_events_path do %>
         <%= image_tag "back_icon.jpg" , size: "70x70" %>
        <% end %>
      </div>
      <div class="col-sm-4 offset-1">
      </div>
      <div class="col-sm-2">
         <%= link_to edit_admin_event_path(@event) do %>
           <%= image_tag "edit.jpg" , size: "50x50", style: "margin-left: 7px;" %><p style="color: black;">編集する</p>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-4">
        <span>イベント</span>
        <h4><%= @event.title %></h4>
        <span>内容</span>
        <h4><%= @event.content %></h4>
        <span>日にち</span>
        <h4><%= @event.start_time %></h4>
      </div>
    </div>
  </ul>
</div>