<div class="container">
  <ul>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 offset-2">
         <h2 class="heading06" data-en="Genre"></h2>
      </div>
    </div>
    <div class="row">
      <div class="contact-form">
      <div class="col-sm-5 offset-1">
        <%= form_with model:@genre, url: admin_genres_path, local:true do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="form-field col x-50">
                 <%= f.text_field :name, class: "input-text js-input" %>
                 <label class="label" for="name">Genre_Name</label>
             </div>
            </div>
            <div class="col-sm-5 offset-5">
              <%= f.submit '登録する', class:'btn  btn-outline-dark' %>
          <% end %>
          </div>
        </div>
      <div class="col-sm-5 offset-1">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th>ジャンル名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <th></th>
              <td style="padding-top: 25px;"><%= genre.name %></td>
              <td>
                <%= link_to edit_admin_genre_path(genre) do %>
                  <%= image_tag "edit.jpg" , size: "20x20", style: "margin-left: 7px;" %><p style="color: black; font-size: 12px;">編集する</p>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </ul>
</div>