<div class="container">
  <ul>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-1">
        <h2>店舗詳細 <i class="fas fa-store-alt"></i></i></h2>
      </div>
      <div class="col-3" style="padding-top: 20px">
        <button class="learn-more">
          <span class="circle" aria-hidden="true" style="background-color: #33FFFF;">
            <span class="icon arrow"></span>
          </span>
          <%= link_to "注文履歴一覧へ",orders_path,class: "button-text" %>
        </button>
      </div>
      <div class="col-2" style="padding-top: 20px">
       <%= link_to edit_shop_path(@shop) do %>
         <%= image_tag "edit.jpg" , size: "40x40", style: "margin-left: 7px;" %><p style="color: black;">編集する</p>
       <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th>店舗名</th>
              <th><%= @shop.name %></th>
            </tr>
            <tr>
              <th>郵便番号</th>
              <th><%= @shop.postal_code %></th>
            </tr>
            <tr>
              <th>住所</th>
              <th><%= @shop.address %></th>
            </tr>
            <tr>
              <th>電話番号</th>
              <th><%= @shop.telephone_number %></th>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <th><%= @shop.email %></th>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <div class="col-6 offset-3">
       <% if @favorite_list.present? %>
        <h4>お気に入り一覧</h4>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th></th>
                <th>商品名</th>
                <th>価格</th>
              </tr>
            </thead>
            <tbody>
              <% @favorite_list.each do |product| %>
              <tr>
                <td>
                  <%= link_to product_path(product.id) do %>
                    <%= attachment_image_tag product, :image, size: "50x50", class: "img_hover" %><br>
                  <% end %>
                </td>
                <td><li class="link"><%= link_to product.product_name,product_path(product.id), class: "text" %></li></td>
                <td><%= tax_price(product.product_price)%>円</td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </ul>
</div>
