<div class="container">
  <div class="row"></div>
    <div class="a">
        <div class="b"><%=image_tag 'image1.jpg' ,class:'c'%></div>
        <div class="b"><%=image_tag 'image2.jpg' ,class:'c'%></div>
        <div class="b"><%=image_tag 'image3.jpg' ,class:'c'%></div>
        <div class="b"><%=image_tag 'image4.jpg' ,class:'c'%></div>
        <div class="b"><%=image_tag 'image5.jpg' ,class:'c'%></div>
    </div>
  <div class="row">
    <div class="col-4">
    <h3>最近入荷した商品達</h3>
    </div>
    <div class="col-4 offset-4" style="text-align: end; padding-top: 15px">
      <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <a href="/products" class="button-text">商品一覧へ</a>
      </button>
    </div>
    </div>
    <div class="row">
      <ul>
        <% @products.each do |product| %>
          <div class="inline-block">
            <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, size: "100x100", class: "img_hover", fallback:'no_image.jpg' %><br>
            <% end %>
            <p><li class="link"><%= link_to product.product_name, product_path(product.id), class: "text" %><%=image_tag "new.png" %></li></p>
            <p><%= tax_price(product.product_price) %>円(税込)</p>
          </div>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <div class="col-4">
       <h3>おすすめ商品</h3>
      </div>
      <div class="col-4 offset-4" style="text-align: end; padding-top: 15px">
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <a href="/products" class="button-text">商品一覧へ</a>
        </button>
      </div>
    </div>
    <div class="row">
      <ul>
        <% @random.each do |product| %>
          <div class="inline-block">
              <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, size: "100x100", class: "img_hover", fallback:'no_image.jpg' %><br>
              <% end %>
            <p><li class="link"><%= link_to product.product_name, product_path(product.id), class: "text" %></li></p>
            <p><%= tax_price(product.product_price) %>円(税込)</p>
          </div>
        <% end %>
      </ul>
   </div>
</div>
<div class="container" style="border-top: groove;padding-top: 20px; margin-top: 35px;">
   <div class="row">
     <div class="col-6">
       <h5 style="margin-top: 100px;">このサイトは、商品を発注するサイトです。</h5>
       <h5>商品は、会員登録しなくても見ることが出来ますが、</h5>
       <h5 style="margin-bottom: 100px;">商品を発注する際には<%= link_to 'こちら', new_shop_registration_path, class: "text" %>から会員登録して下さい。</h5>
       <h5 style="text-align: center; padding-right: 100px;">商品に関するお問い合わせ</h5>
          <li class="link" style="text-align: center; font-size: large;"><%= link_to inquiry_path,class: "text" do %>
            <i class="far fa-envelope-open" style="color: darkorange; padding-right: 100px;">お問い合わせ</i>
          <% end %></li>
      </div>
      <div class="col-6">
     <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
            <% events.each do |event| %>
              <div>
                <%= event.title %>
              </div>
            <% end %>
        <% end %>
      </div>
   </div>
</div>


