<div class="container">
  <div class="row"></div>
    <ul>
      <div class="a">
          <div class="b"><%=image_tag 'image1.jpg' ,class:'c'%></div>
          <div class="b"><%=image_tag 'image2.jpg' ,class:'c'%></div>
          <div class="b"><%=image_tag 'image3.jpg' ,class:'c'%></div>
          <div class="b"><%=image_tag 'image4.jpg' ,class:'c'%></div>
      </div>
    </ul>
  <div class="row">
      <h3>最近入荷した商品達</h3>
      <ul>
        <% @products.each do |product| %>
          <div class="inline-block">
            <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, size: "100x100", class: "img_hover", fallback:'no_image.jpg' %><br>
            <% end %>
            <p><li class="link"><%= link_to product.product_name, product_path(product.id), class: "text" %><%=image_tag "new.png" %></li></p>
            <p><%= tax_price(product.product_price) %>円(税込)</p>
          </div>
        <% end %>
      </ul>
  </div>
  <div class="row">
    <h3>おすすめ商品</h3>
      <ul>
        <% @random.each do |product| %>
          <div class="inline-block">
              <%= link_to product_path(product.id) do %>
                <%= attachment_image_tag product, :image, size: "100x100", class: "img_hover", fallback:'no_image.jpg' %><br>
              <% end %>
            <p><li class="link"><%= link_to product.product_name, product_path(product.id), class: "text" %></li></p>
            <p><%= tax_price(product.product_price) %>円(税込)</p>
          </div>
        <% end %>
      </ul>
   </div>
</div>


