<div class="container">
  <ul>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 offset-2" style="padding-left: 250px;">
        <h2 class="heading06" data-en="Product"></h2>
      </div>
      <div class="col-sm-2 offset-1" style="padding-top: 22px;">
        <%= link_to new_admin_product_path do %>
          <%= image_tag 'new_create.jpg', size: "50x50" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>商品</th>
              <th>価格(税抜)</th>
              <th></th>
              <th>ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="count">
          <% @products.each do |product| %>
             <tr>
               <th><li class="link"><%= link_to product.product_name,admin_product_path(product.id), class: "text" %></li></th>
               <th><%= product.product_price %>円</th>
               <th>
                 <% if product.is_active == true %>
                   <th class='text-success'>販売中</th>
                 <% else %>
                   <th class='text-danger'>売切れ</th>
                 <% end %>
               </th>
               <th>
                <button class="learn-more">
                  <span class="circle" aria-hidden="true" style="background-color: #00BFFF">
                    <span class="icon arrow"></span>
                  </span>
                  <%= link_to "詳細ページへ",admin_product_path(product.id),class: "button-text" %>
                </button></th>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-7 offset-5">
        <%= paginate @products, theme: 'twitter-bootstrap-4'%>
      </div>
    </div>
  </ul>
</div>