<div class="container">
  <ul>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
         <%= render partial: 'layouts/flash' %>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2">
        <h2>商品一覧</h2>
      </div>
      <div class="col-2 offset-3" style="padding-top: 22px;">
        <%= link_to new_admin_product_path do %>
          <%= image_tag 'new_create.jpg', size: "50x50" %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>商品</th>
              <th>価格(税抜)</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="count">
          <% @products.each do |product| %>
             <tr>
               <th><%= link_to product.product_name,admin_product_path(product.id)%></th>
               <th><%= product.product_price %>円</th>
               <th><%= link_to "詳細ページ",admin_product_path(product.id),class: "btn btn-info btn-sm" %></th>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-7 offset-5">
        <%= paginate @products, theme: 'twitter-bootstrap-4'%>
      </div>
    </div>
  </ul>
</div>