<div class='container'>
  <ul>
    <div class='row'>
      <div class='col-8 offset-2' style="padding-right: 190px;">
        <h2 class="heading06" data-en="New Product"></h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-8 offset-4'>
        <%= render partial: 'layouts/flash' %>
      <%= form_with model:@product, url:admin_products_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
      </div>
      <div class='col-8 offset-3'>
        <table class="table table-borderless">
            <tbody>
             <tr>
          　    <td><%= f.label :商品画像 %></td>
               <td><%= f.file_field :image ,class: "form-control-file" %></td>
             </tr>
              <tr>
                <td><%= f.label :商品名 %></td>
                <td><%= f.text_field :product_name, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :商品紹介 %></td>
                <td><%= f.text_area :product_introduction, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :製造元 %></td>
                <td><%= f.text_field :product_company, class: "form-control" %></td>
              </tr>
             <tr>
               <td><%= f.label :ジャンル %></td>
               <td><%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "Select"}, {class: 'btn btn-outline-dark'} %></td>
             </tr>
             <tr>
               <td><%= f.label :価格 %></td>
               <td><%= f.number_field :product_price, min: "1" %></td>
             </tr>
              <tr>
               <td><%= f.label :ステータス %></td>
               <td><%= f.radio_button :is_active, :true %>
                    <%= f.label :is_active, '販売中', {value: :true, style: 'display: inline-block;'} %>
                    <%= f.radio_button :is_active, :false %>
                    <%= f.label :is_active, '販売停止中', {value: :false, style: 'display: inline-block;'} %>
               </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row">
      <div class='col-6 offset-4'>
          <div class='form-group'>
            <%= f.submit '登録する', class:'btn btn-lg btn-outline-dark' %>
          </div>
       </div>
      </div>
       <% end %>
  </ul>
</div>