<div class='container'>
  <ul>
    <div class='row'>
      <div class='col-sm-8 offset-3' style="padding-right: 190px;">
        <section class="get-in-touch">
        <h2 class="heading06" data-en="New Product"></h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-7 offset-3'>
        <%= render partial: 'layouts/flash' %>
      </div>
      <div class='col-sm-8 offset-4'>
        <div class="contact-form row">
      <%= form_with model:@product, url:admin_products_path, local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
         <div class="form-field col x-50">
           <label style="margin-right: 30px;">Image</label>
           <%= f.file_field :image %>
         </div>
         <div class="form-field col x-50">
           <%= f.text_field :product_name, class: "input-text js-input" %>
           <label class="label" for="product_name">Product_Name</label>
         </div>
         <div class="form-field col x-50">
           <%= f.text_area :product_introduction, class: "input-text js-input" %>
           <label class="label" for="postal_code">Product_Introduction</label>
         </div>
          <div class="form-field col x-50">
           <%= f.text_field :product_company, class: "input-text js-input" %>
           <label class="label" for="address">Product_Company</label>
         </div>
         <div class="form-field col x-50">
           <label style="margin-right: 40px;">Genre</label>
           <%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "Select"}, {class: 'btn btn-outline-dark'} %>
         </div>
         <div class="form-field col x-50">
           <%= f.number_field :product_price, min: "1", class: "input-text js-input"  %>
           <label class="label" for="price">Price</label>
         </div>
         <div class="form-field col x-50">
             <label style="margin-right: 40px;">Status</label>
             <%= f.radio_button :is_active, :true %>
             <%= f.label :is_active, '販売中', {value: :true, style: 'display: inline-block;'} %>
             <%= f.radio_button :is_active, :false %>
             <%= f.label :is_active, '販売停止中', {value: :false, style: 'display: inline-block;'} %>
         </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class='col-sm-7 offset-5'>
          <div class='form-group'>
            <%= f.submit '登録する', class:'btn btn-lg btn-outline-dark' %>
          </div>
       </div>
      </div>
       <% end %>
    </section>
  </ul>
</div>