<div class='container'>
  <ul>
    <div class="row">
      <div class="col-7 offset-1">
        <h2>注文履歴詳細</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-6 offset-1'>
        <table>
          <tbody>
            <tr>
              <th >購入日</th>
              <th><%= @order.created_at %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='row'>
      <div class='col-7 offset-1'>
        <table class='table'>
          <thead class="table-primary">
            <tr>
              <th>商品名</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
              <tr>
                <th><li class="link"><%= link_to order_detail.product.product_name,product_path(order_detail.product.id), class: "text" %></li></th>
                <th><%= order_detail.quantity %></th>
                <th><%= tax_subtotal(order_detail.product.product_price,order_detail.quantity) %></th>
              </tr>
            <% end %>
          </body>
        </table>
      </div>
      <div class='col-3 offset-1'>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="bg-light">商品合計</th>
              <th style="background: #FFFFCC;">
                <% array = [] %>
                <% @order.order_details.each do |order_detail| %>
                  <% array << (order_detail.product.product_price * 1.1 * order_detail.quantity).round %>
                <% end %>
                <%= array.sum %><text>円</text>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ul>
</div>